@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

ul{
    margin-right:50px;
}

h2{
    font-size:1.2em;
    color: red;
    margin-top:10px;
}

img{
    padding:20px;
    border-radius:200px;
}

.count{
    display:flex;
    gap: 10px;
}